{% extends 'store/base.html' %}

{% block title %}About | {% endblock title %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PandaMart</h1>
            <p class="lead fw-normal text-white-50 mb-0">One single place where you can get everything in few simple
                clicks</p>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <div class="col-12 py-3 px-4 bg-light fs-5 rounded">
            <p class="h2 text-center py-4">About us</p>
            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum minus quas
                deserunt assumenda magni illo. Aut dolore voluptatem sint debitis ab ea! Quibusdam asperiores facere
                quis dolores repellendus reiciendis provident fuga nemo consequatur modi officia, temporibus illo
                officiis vel, obcaecati cupiditate, magni nobis cumque et. Accusantium expedita autem dolor, natus
                nesciunt voluptatibus facere eaque hic labore excepturi, enim impedit nihil id architecto suscipit vero
                veniam rerum itaque officiis quas saepe non beatae molestias? Provident maxime ea molestiae aperiam sed
                inventore excepturi id consectetur et, consequuntur asperiores cupiditate itaque explicabo commodi nisi
                fuga aliquam cum assumenda, maiores laborum accusantium harum expedita ipsum! Commodi reiciendis nulla
                labore, a, nemo sapiente libero sunt cum error sed deserunt vel nesciunt eius beatae mollitia at. Neque
                dolor vero quia numquam repellendus, nobis esse fuga quidem ullam sit? Beatae iure rerum enim at
                eligendi. Eveniet omnis cupiditate ex pariatur enim exercitationem repudiandae officia magnam eius
                inventore a iure temporibus, corporis maiores beatae odit iusto quis natus soluta? Nisi accusamus
                consequatur ad unde aspernatur eveniet sunt voluptatem distinctio. Consequatur eos voluptatibus ut nobis
                quas, exercitationem soluta. Dignissimos quibusdam reiciendis molestias, architecto autem libero, rerum
                itaque, fuga sint excepturi dicta cumque quaerat cum vitae animi fugiat iure?<br><br>                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum minus quas deserunt assumenda
                magni illo. Aut dolore voluptatem sint debitis ab ea! Quibusdam asperiores facere quis dolores
                repellendus reiciendis provident fuga nemo consequatur modi officia, temporibus illo officiis vel,
                obcaecati cupiditate, magni nobis cumque et. Accusantium expedita autem dolor, natus nesciunt
                voluptatibus facere eaque hic labore excepturi, enim impedit nihil id architecto suscipit vero veniam
                rerum itaque officiis quas saepe non beatae molestias? Provident maxime ea molestiae aperiam sed
                inventore excepturi id consectetur et, consequuntur asperiores cupiditate itaque explicabo commodi nisi
                fuga aliquam cum assumenda, maiores laborum accusantium harum expedita ipsum! Commodi reiciendis nulla
                labore, a, nemo sapiente libero sunt cum error sed deserunt vel nesciunt eius beatae mollitia at. Neque
                dolor vero quia numquam repellendus, nobis esse fuga quidem ullam sit? Beatae iure rerum enim at
                eligendi. Eveniet omnis cupiditate ex pariatur enim exercitationem repudiandae officia magnam eius
                inventore a iure temporibus, corporis maiores beatae odit iusto quis natus soluta? Nisi accusamus
                consequatur ad unde aspernatur eveniet sunt voluptatem distinctio. Consequatur eos voluptatibus ut nobis
                quas, exercitationem soluta. Dignissimos quibusdam reiciendis molestias, architecto autem libero, rerum
                itaque, fuga sint excepturi dicta cumque quaerat cum vitae animi fugiat iure?<br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum minus quas deserunt assumenda
                magni illo. Aut dolore voluptatem sint debitis ab ea! Quibusdam asperiores facere quis dolores
                repellendus reiciendis provident fuga nemo consequatur modi officia, temporibus illo officiis vel,
                obcaecati cupiditate, magni nobis cumque et. Accusantium expedita autem dolor, natus nesciunt
                voluptatibus facere eaque hic labore excepturi, enim impedit nihil id architecto suscipit vero veniam
                rerum itaque officiis quas saepe non beatae molestias? Provident maxime ea molestiae aperiam sed
                inventore excepturi id consectetur et, consequuntur asperiores cupiditate itaque explicabo commodi nisi
                fuga aliquam cum assumenda, maiores laborum accusantium harum expedita ipsum! Commodi reiciendis nulla
                labore, a, nemo sapiente libero sunt cum error sed deserunt vel nesciunt eius beatae mollitia at. Neque
                dolor vero quia numquam repellendus, nobis esse fuga quidem ullam sit? Beatae iure rerum enim at
                eligendi. Eveniet omnis cupiditate ex pariatur enim exercitationem repudiandae officia magnam eius
                inventore a iure temporibus, corporis maiores beatae odit iusto quis natus soluta? Nisi accusamus
                consequatur ad unde aspernatur eveniet sunt voluptatem distinctio. Consequatur eos voluptatibus ut nobis
                quas, exercitationem soluta. Dignissimos quibusdam reiciendis molestias, architecto autem libero, rerum
                itaque, fuga sint excepturi dicta cumque quaerat cum vitae animi fugiat iure?<br><br>
            </p>
        </div>
    </div>
</div>

{% endblock content %}