{% extends 'store/base.html' %}

{% block title %}{{ category }} | {% endblock title %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">PandaMart</h1>
                <p class="lead fw-normal text-white-50 mb-0">One single place where you can get everything in few simple
                    clicks</p>
            </div>
        </div>
    </header>

    <!-- Section -->
    <section class="py-3">
        <div class="container px-4 px-lg-5 mt-5">
            <h1 class="text-center mb-5">{{ category }}</h1>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for i in items %}
                    {% if i.is_sale %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">20% Off
                                </div>
                                <!-- Product image-->
                                <img class="img-display" src="{{ i.image.url }}" alt="Image not found" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ i.product_name }}</h5>
                                        <!-- 20% Sale -->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>&nbsp;Special Offer&nbsp;
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        <p class="d-inline h6 text-decoration-line-through text-muted">&#2547;{{ i.price }}</p>
                                        <p class="d-inline h6">&#2547;{{ i.sale_price }}</p>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' i.id  %}">View Product</a></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="img-display" src="{{ i.image.url }}" alt="Image not found" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ i.product_name }}</h5>
                                        <!-- Product price-->
                                        <p class="h6 mt-4">&#2547;{{ i.price }}</p>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' i.id  %}">View Product</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock  %}