{% extends 'store/base.html' %}

{% block title %}Login | {% endblock title %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PandaMart</h1>
            <p class="lead fw-normal text-white-50 mb-0">One single place where you can get everything in few simple
                clicks</p>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-light rounded-2">
            <p class="h2 text-center fw-semibold mt-5">Login</p>
            <form class="px-4 py-5" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="my-3">
                    <p class="h5 text-muted my-3">Username:</p>                  
                    <input type="text" class="form-control" placeholder="Enter your username" name="username"> 
                    <p class="h5 text-muted my-3">Password:</p>                  
                    <input type="password" class="form-control" placeholder="Enter your password" name="password">
                </div><br>                
                <button type="submit" class="btn btn-secondary px-4">Login</button>
              </form>            
        </div>
    </div>
</div>
<br><br><br>

{% endblock %}